on:
    push:
        branches:
            - main
            - "release/**"
        paths:
          - "src/**"

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
                uses: actions/checkout@v4.2.2

            - name: run test
                run: npm test
